 p,li { 
    font-family: 'Poppins', sans-serif;
    color: white;
 }

 .font-titles {
    font-family: 'Roboto', sans-serif;
    color: white;
 }

 body {
    background-color:black;
 }

 .size-font-list {
    font-size: 16px;
 }

 #photo-profile {
    margin-left: 600px;
    margin-top: 50px;
    padding: 5px;
    background-color: grey;
 }

 #description {
    padding-right: 700px;
    margin-top: ;
    margin-left: 100px;
 }

 .title-description {
    margin-top: -130px;
    margin-left: 100px;
 }

 h1 {
    text-align: center;
 }

 .skills {
    margin-left: 100px;
 }

 h2 {
    margin-top: 60px;
 }

 .like-blog {
    margin-left: 100px;
 }

 aside {
    margin-left: 800px;
    margin-top: -400px
 }

 ol {
    margin-left: -22px;
 }