#container-skills {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.sub-container-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
  padding-bottom: 4%;
}

.skill-group {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.skill-group-1 {
  display: flex;
  gap: 15px;
}

.skill-group-2 {
  display: flex;
  gap: 15px;
}

.icons {
  width: 60px;
  height: 60px;
  color: #0ef;
}

.title-skills {
  color: #0ef;
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  margin-bottom: 5%;
}
  
.title-skills-group {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.skill {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 72, 72);
  border-radius: 10px;
  height: 140px;
  width: 165px;
  gap: 5%;
  cursor: default;
}

.skill:hover {
  border: 2px solid #0ef;
  box-shadow: 0 0 50px #0ef;
}
