.container-header {
  width: 100%;
  height: 65px;
  top: 0;
  background-color: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  transition: 0.1s ease;
}

.header-transform {
  box-shadow: 0 0 14rem #0ef;
  border-bottom: 5px solid #0ef;
}

.container-name-center {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container-titles {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title-main-header {
  color: white;
  font-family: 'Fredoka One', cursive;
}

.title-main-header-dev {
  color:#0ef;
  font-family: 'Fredoka One', cursive;
}

.titles-header {
  color: white;
  font-family: 'Teko', sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: x-large;
}

.titles-header:hover {
  color: #0ef;
}

.container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pac {
  width: 40px;
  height: 40px;
  background: none;
}

.coding {
  width: 50px;
  height: 50px;
}