#container-home {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 10%;
  justify-content: center;
  align-items: center;
  background-color: #1f242d;
  padding-top: 100px;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-description {
  display: flex;
  flex-flow: column;
  gap: 0;
  width: 50%;
}

.home-image {
  display: flex;
}

.title-home {
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
}

.title-home-name {
  color: #0ef;
  font-family: 'Teko', sans-serif;
  font-size: 60px;
}

.title-home-front {
  color: #0ef;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  border-right: 2px solid #0ef;
  white-space: nowrap;
  overflow: hidden;
}

.teste {
  display: flex;
  gap: 5px;
}

.p-home {
  color: white;
  width: 70%;
  font-size: large;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  margin-top: 2%;
  margin-bottom: 2%;
}

.typing-animation {
  animation: typing 4s 1s infinite normal;
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 330px;
  }
}

.home-socials {
  display: flex;
  gap: 5%;
  margin-top: 3%;
}

.btn-home {
  color: #0ef;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #0ef;
  border-radius: 50%;
  transition: 0.4s ease;
  font-size: 25px;
}

.btn-home:hover {
  background-color: #0ef;
  color: #1f242d;
}

@keyframes homeImage {
  0% {
      transform: translateY();
  }

  50% {
      transform: translateY(20px);
  }

  100% {
      transform: translateY();
  }
}

.img-home {
  animation: homeImage 2s linear infinite;
  width: 400px;
  height: 400px;
}

.div-triangle {
  background-color: #323946;
  width: 100%;
  height: 150px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  margin-top: 7%;
}
