.container-profile {
  background-color: #323946;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.sub-container-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.title-profile {
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 50px;
}

.title-about {
  color: #0ef;
}

.img-astro-profile {
  width: 300px;
  height: 300px;
}

.profile-group {
  width: 50%;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

.profile-description {
  color: white;
}
