.container-profile {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.sub-container-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.title-profile {
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 50px;
}

.img-astro-profile {
  width: 300px;
  height: 300px;
}

.profile-group {
  background-color: rgb(77, 72, 72);
  border-radius: 10px;
  width: 60%;
  padding: 10px;
}

.profile-description {
  color: white;
}
